body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#111;
}

/* ===== NAVBAR ===== */

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#222;
  padding:12px 20px;
}

.nav-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.nav-left img{
  width:40px;
  height:40px;
  border-radius:8px;
  object-fit:cover;
}

.nav-title{
  color:white;
  font-weight:bold;
  font-size:18px;
}

.nav-links{
  display:flex;
  gap:20px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.nav-links a:hover{
  color:#00d4ff;
}

/* ===== CAROUSEL ===== */

.carousel{
  width:900px;
  height:360px;
  margin:40px auto;
  overflow:hidden;
  border-radius:12px;
  background:#222;
  position:relative;
}

.slides{
  display:flex;
  transition:transform .5s ease;
}

.slide{
  min-width:100%;
}

.slide-content{
  display:flex;
  height:360px;
}

.slide-content img{
  width:50%;
  height:100%;
  object-fit:cover;
}

.text{
  width:50%;
  padding:30px;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.text h2{
  margin:0 0 10px;
}

/* ===== DOTS ===== */

.dots{
  position:absolute;
  bottom:12px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:12px;
}

.dot{
  width:14px;
  height:14px;
  border-radius:50%;
  background:#666;
  cursor:pointer;
}

.dot.active{
  background:white;
}

/* ===== RESPONSIVE ===== */

@media (max-width:800px){

  .carousel{
    width:95%;
    height:auto;
  }

  .slide-content{
    flex-direction:column;
    height:auto;
  }

  .slide-content img,
  .text{
    width:100%;
    height:200px;
  }

}

/* ===== CHATBOT ===== */

#chat{
  width:360px;
  height:520px;
  margin:40px auto;
  background:#0b3f3f;
  border-radius:18px;
  display:flex;
  flex-direction:column;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,.5);
}

/* área mensajes blanca */
#messages{
  flex:1;
  background:#ffffff;
  padding:14px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:8px;
}

/* burbujas */
.msg{
 display:inline-block;   
  width:fit-content;     
  max-width:75%;
  padding:10px 14px;
  border-radius:18px;
  font-size:14px;
  line-height:1.4;
  word-wrap:break-word;
}

/* usuario */
.msg-user{
  background:#19d3c5;
  color:#003b38;
  align-self:flex-end;
  border-bottom-right-radius:6px;
}

/* bot */
.msg-bot{
  background:#e9fefe;
  color:#083535;
  border:1px solid #bff3ef;
  border-bottom-left-radius:6px;
}

/* barra input */
.chat-inputbar{
  display:flex;
  gap:8px;
  padding:10px;
  background:#083535;
}

.chat-inputbar input{
  flex:1;
  padding:10px;
  border-radius:14px;
  border:none;
  outline:none;
  font-size:14px;
}

.chat-inputbar button{
  background:#19d3c5;
  color:#003b38;
  border:none;
  border-radius:14px;
  padding:10px 14px;
  font-weight:bold;
  cursor:pointer;
}
